<div class="container px-5 py-6 mx-auto">
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <img src="https://desafiolatam.com/assets/images/home/logo-academia-ne.png" class="w-48 h-20 sm:mr-20 mb-4 sm:mb-0" alt="Logo Desafio Latam"/>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">Full-Stack Ruby on Rails</h2>
            <p class="text-xl mb-2 font-semibold">Bootcamp de Desafio Latam.</p>
            <p class="leading-relaxed text-base">El bootcamp de Ruby On Rails impartido por Desafio Latam, me dio no solo las bases necesarias para adentrarme aun mas en el mundo de la programacion, sino que me ayudo a aprender aun mas respecto al mundo IT, y me brindo lo necesario para despegar mi carrera como FullStack developer..</p>
            <a href="https://www.acreditta.com/credential/3d254cd5-abb3-45ce-aa9d-8d82f0f9f970?utm_source=copy&resource_type=badge&resource=3d254cd5-abb3-45ce-aa9d-8d82f0f9f970" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center">Ver Certificado</a>
        </div>
    </div>

    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">DevOps on AWS</h2>
            <p class="text-xl mb-2 font-semibold">Curso de edX/AWS.</p>
            <p class="leading-relaxed text-base">El curso de DevOps on AWS me brindo las habilidades personales como tecnicas para implementar la cultura DevOps dentro de mi ambiente de trabajo.</p>
            <a href="https://courses.edx.org/certificates/cfe4d73b17f34658ba9005a31db4079e?_gl=1*u2gd2r*_gcl_aw*R0NMLjE3MzE1MTI4NDcuQ2p3S0NBaUF1ZEc1QmhBUkVpd0FXTWxTak9XNWpxeXcyYTh4OWhOc2NYclhSVEZka1o3Wm00M1RWTmlzZWdMSklJRzFXcmxyZVhhQzFSb0NOWWdRQXZEX0J3RQ..*_gcl_au*MTI5OTQ5ODk4Mi4xNzI5MDEzNjg1*_ga*NzM5NDc0ODQxLjE3MjkwMTM2ODU.*_ga_D3KS4KMDT0*MTczMjAyNTM5Mi4yNi4xLjE3MzIwMjU0MjkuMjMuMC4w" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center">Ver Certificado</a>
        </div>
        <img src="/public/projects/AWS.png" class="w-48 h-20 sm:ml-20 mb-4 sm:mb-0" alt="Desafio Latam Logo"/>
    </div>

    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <img src="/public/projects/duoc.png" class="w-58 h-20 sm:mr-20 mb-4 sm:mb-0" alt="Logo Desafio Latam"/>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">Ingenieria Informatica</h2>
            <p class="text-xl mb-2 font-semibold">Carrera impartida por instituto DuocUC.</p>
            <p class="leading-relaxed text-base">La Ingeniería Informática es una carrera tecnológica que forma profesionales especializados en desarrollar soluciones digitales, crear software, gestionar sistemas computacionales y implementar tecnologías innovadoras. Los ingenieros informáticos trabajan en la transformación digital, combinando habilidades técnicas con creatividad para resolver problemas complejos en diferentes sectores empresariales.</p>
        </div>
    </div>
