<section class="flex flex-col md:flex-row gap-x-8 justify-center items-center">
<div class="[&>p]:mb-4 [&>p>strong]:text-blue-300 [&>p>strong]:font-semibold text-pretty">
    <p>
            Me llamo Francisco Lopez Ortiz, tengo 20 años y soy de Cordoba, Argentina, actualmente viviendo en Valparaiso, Chile. Estudio la <strong>Ingenieria informatica </strong> en el DuocUC de Valparaiso.
    </p>
    
    <p>
        Siempre estoy buscando oportunidades para <strong>crecer</strong> como profesional y prepararme para el mundo laboral.
    </p>
    
    <p>
      Me apasiona el mundo del desarrollo, gestion de equipos y esoy en constante aprendizaje.
    </p>

    <p class="text-pretty">
        Todos los días continúo desarrollando mis habilidades como dev <strong>Full-Stack</strong> ya que trabajo de esto en una empresa llamada <strong>Dataprop</strong> dedicada al mundo inmobiliario. 
    </p>
</div>
<img class="rounded-full w-40 h-30 mb-4" 
			src="/img/Pasted image.png" alt="Francisco Lopez"
			/> 
</section>